{% assign current_year = 'now' | date: "%Y" %}
{% assign start_date = current_year | append: '-01-01' | date: "%s" %}
{% assign end_date = current_year | append: '-12-31' | date: "%s" %}
  
{% assign current_year_total_amount = 0 %}
{% assign total_amount_spent = 0 %}
{% for order in customer.orders %}
  {% assign order_date = order.created_at | date: "%s" %}
  
  {% if order_date >= start_date and order_date <= end_date %}
      {% assign order_total_price = order.total_price  %}
      {% assign current_year_total_amount = current_year_total_amount | plus: order_total_price %}
  {% endif %}
  {% assign total_amount_spent = total_amount_spent | plus: order_total_price %}
{% endfor %}
{% liquid
assign get_year_spent_progress = current_year_total_amount | divided_by: settings.year_total_spent 
assign total_spent_progress = total_amount_spent | divided_by: settings.total_spent

%}

<div class="progress-container">
    <div class="progress-title">Your loyalty program progress</div>
    <label class="label-head">Spent this year</label>
    <div class="progress-bar">
        <div class="progress-text">{{ current_year_total_amount | divided_by: 100.00 }} {{ shop.currency }}</div>
        <div class="progress">
            <div class="progress-inner" style="width: {{ get_year_spent_progress }}%;"></div>
        </div>
        <div class="progress-text year-total-spent">{{ settings.year_total_spent  }} {{ shop.currency }}</div>
    </div>
    <label class="label-head">Total Spent</label>
    <div class="progress-bar">
        <div class="progress-text">{{ total_amount_spent | divided_by: 100.00 }} {{ shop.currency }}</div>
        <div class="progress">
            <div class="progress-inner" style="width: {{ total_spent_progress }}%;"></div>
        </div>
        <div class="progress-text total-spent-color">{{ settings.total_spent  }} {{ shop.currency }}</div>
    </div>
</div>


<style>
.progress-container {
    padding: 3rem 0 0;
    max-width: 500px;
    margin: 0 auto;
}
.progress-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
}
.progress+.progress-text {
    margin-left: auto;
    padding-right: 1.5rem;
    position: absolute;
    right: 0;
}
.progress-bar .progress-text:first-child {
    position: absolute;
    color: #fff;
    left: 5px;
    height: 45px;
    line-height: 45px;
    background: #352c1b;
    border-radius: 100px;
    padding: 0 12px;
}
.progress-bar {
    display: flex;
    align-items: center;
    /* margin-top: 15px; */
    border: 1px solid;
    border-radius: 100px;
    padding: 5px;
    position: relative;
}
.progress {
    
    overflow: hidden;
    height: 45px;
    width: 100%;
}
.progress-inner {
    background-color: #352c1b;
    border-radius: 50px;
    height: 100%;
    width: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.progress-text {
}
label.label-head {
    margin-top: 1.5rem;
}
</style>
  

 

