{% assign current_year = 'now' | date: "%Y" %}
{% assign start_date = current_year | append: '-01-01' | date: "%s" %}
{% assign end_date = current_year | append: '-12-31' | date: "%s" %}
  
{% assign current_year_total_amount = 5 %}

{% for order in customer.orders %}
  {% assign order_date = order.created_at | date: "%s" %}
  
  {% if order_date >= start_date and order_date <= end_date %}
     {% assign order_total_price = order.total_price | money_without_currency %}  
      {% assign current_year_total_amount = current_year_total_amount | plus: order_total_price %}
  {% endif %}
{% endfor %}
{{ current_year_total_amount }}
<div class="progress-container">
    <div class="progress-title">Your loyalty program progress</div>
    
    <div class="progress-bar">
        <div class="progress-text">{{ current_year_total_amount }} {{ shop.currency }}</div>
        <div class="progress">
            <div class="progress-inner" style="width: 50%;"></div>
        </div>
        <div class="progress-text">{{ settings.year_total_spent  }} {{ shop.currency }}</div>
    </div>
    
    <div class="progress-bar">
        <div class="progress-text">5,000 QAR</div>
        <div class="progress">
            <div class="progress-inner" style="width: 20%;"></div>
        </div>
        <div class="progress-text">{{ settings.total_spent  }} {{ shop.currency }}</div>
    </div>
</div>
<style>
    .progress-container {
        margin-bottom: 20px;
    }
    .progress-title {
        font-size: 1.2em;
        margin-bottom: 10px;
        text-align: center;
        font-style: italic;
    }
    .progress-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .progress {
        background-color: #e0e0e0;
        border-radius: 50px;
        overflow: hidden;
        width: 100%;
        margin: 0 10px;
        height: 20px;
    }
    .progress-inner {
        background-color: #4d4238;
        height: 100%;
        width: 0;
    }
    .progress-text {
        width: 80px;
        text-align: center;
    }
</style>

 

