<div class="custom-reviews static">
    <div class="revie-parent">
      <div class="top-head centr">
        <h3>{{ section.settings.title }}</h3>
        <h3>
          <span style="color:{{ section.settings.text_color }};">{{ section.settings.totalReview }}</span>
          <span>{{ section.settings.review-heading }}</span>
        </h3>
      </div>
      <div class="below-reviews owl-carousel" id="reviewSection"> 
        {% for block in section.blocks %}
          <div class="item reviewsItems">
            <div class="blw-data">
            <div class="rating--area"> 
              <div class="ratnmbr" style="color:{{ section.settings.star_color }};"> 
                  {% assign rating = block.settings.sizes | plus:0 %}
                  {% for i in (1..rating) %}
                    <i class="fa fa-star"></i>
                  {% endfor %}
                  {% if rating != 5 %}
                    {% assign blankstar = 5 | minus: rating  %}
                    {% for i in (1..blankstar) %}
                      <i class="fa fa-star-o"></i>
                    {% endfor %}
                  {% endif %}
              </div>
              <div class="abtrate">{{ block.settings.title }}</div>
            </div>
            {{ block.settings.paragraph }}
            <div class="footerReviews">
              {{ block.settings.customerName }}
            </div>
          </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>


          
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>  
 
<script>
  jQuery("#reviewSection").owlCarousel({
      loop: true,
      lazyLoad: true,
      margin: 40,
      responsiveClass: true,
      autoHeight: true,
      smartSpeed: 800,
      items: 3,
      nav: true,
      center: true,
      responsive: {
      0: {
        items: 1
      },
  
      600: {
        items: 1
      },
  
      1024: {
        items: 3
      },
  
      1366: {
        items: 3
      }
    }
    });
</script>
<style>
  /* =============== review section css start here ================== */
.revie-parent {
    background: #f5f5f5;
    padding: 50px 6rem 30px;
}
.top-head.centr {
    justify-content: center;
    flex-direction: column;
    margin: 0 0 35px;
}
.top-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-head h3 {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    font-weight: 600;
}
.custom-reviews .owl-carousel .owl-stage-outer {
    padding: 2rem 0;
}
.blw-data {
    position: relative;
    background: #fff;
    padding: 25px;
    height: 100%;
    min-height: 250px;
    border-radius: 0.6rem;
}
.custom-reviews .owl-item.center .blw-data {
    transform: scale(1.1);
    background-color: #fbfbfb;
}
.rating--area {
    margin: 0 0 10px;
    text-align: center;
}
.blw-data p {
    margin: 0;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
}
.footerReviews p {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
.footerReviews {
    margin: 1.5rem 0 0;
}
.below-reviews.owl-carousel .owl-nav button {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: -40px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s linear all;
}
.below-reviews.owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: -40px;
}
.below-reviews.owl-carousel .owl-nav button span {
    font-size: 0;
    background-image: url("https://cdn.shopify.com/s/files/1/0636/4420/5234/files/Arrow-button.png");
    display: inline-block;
    width: 30px;
    height: 30px;
}
.below-reviews.owl-carousel .owl-nav button.owl-prev span {
    transform: rotate(180deg);
}
.below-reviews.owl-carousel .owl-nav button:hover span {
    opacity: 0.5;
}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:pan-y;touch-action:pan-y;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{animation-duration:1s;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{animation-name:fadeOut}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item .owl-lazy:not([src]),.owl-carousel .owl-item .owl-lazy[src^=""]{max-height:0}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}
/* =============== review section css end here ================== */
</style>
{% schema %}
  {
    "name": "Customer review",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "BG Image"
      },
      {
        "type": "text",
        "id": "totalReview",
        "label": "Review count"
      },
        {
        "type": "color",
        "id": "text_color",
        "label": "Text Color for this Section",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "review-heading",
        "label": "Review count heading"
      },
      {
        "type": "color",
        "id": "star_color",
        "label": "Star color",
        "default": "#01aa0a"
      },
      {
        "type": "range",
        "id": "show_item",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 4,
        "label": "Review item to show"
      },
      {
        "type": "header",
        "content": "Review Slider Settings."
      },
      {
        "type": "checkbox",
        "id": "arrow",
        "label": "Enable Slider Arrow"
      },
      {
        "type": "checkbox",
        "id": "dots",
        "label": "Enable Slider Pagination"
      }
    ],
    "blocks": [
       {
         "name": "Review",
         "type": "add-review",
         "settings": [
            {
             "type": "image_picker",
             "id": "image",
             "label": "Image"
           },
            {
             "type": "text",
             "id": "title",
             "label": "Title"
           },
           {
             "type": "richtext",
             "id": "paragraph",
             "label": "Paragraph"
           },
           {
             "type": "richtext", 
             "id": "customerName",
             "label": "Customer name"
            },
           {
              "type": "select",
              "id": "sizes",
              "label": "Select number of stars", 
              "options": [
                {
                  "value": "1",
                  "label": "1"
                },
                {
                  "value": "2",
                  "label": "2"
                },
                {
                  "value": "3",
                  "label": "3"
                },
                {
                  "value": "4",
                  "label": "4"
                },
                {
                  "value": "5",
                  "label": "5"
                }
              ],
              "default": "5"
            }
         ]
       }
    ],
    "presets": [
      {
        "name": "Customer review"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}