
{% if section.index0 > 1 %}
    <link rel="stylesheet" href="{{ 'component-image-hotspot.css' | asset_url }}" media="print" onload="this.media='all'">
    <noscript>{{ 'component-image-hotspot.css' | asset_url | stylesheet_tag }}</noscript>
{% else %}
    {{ 'component-image-hotspot.css' | asset_url | stylesheet_tag }}
{% endif %}

{% liquid
    assign mg_top_desktop = section.settings.mg_top_desktop
    assign mg_top_tablet = section.settings.mg_top_tablet
    assign mg_top_mobile = section.settings.mg_top_mobile
    
    assign mg_bottom_desktop = section.settings.mg_bottom_desktop
    assign mg_bottom_tablet = section.settings.mg_bottom_tablet
    assign mg_bottom_mobile = section.settings.mg_bottom_mobile

    assign button_color = section.settings.button_color
    assign button_background = section.settings.button_background
    assign button_border = section.settings.button_border
    assign button_color_hover = section.settings.button_color_hover
    assign button_background_hover = section.settings.button_background_hover
    assign button_border_hover = section.settings.button_border_hover

    assign image = section.settings.image
    assign heading = section.settings.heading
    assign subheading = section.settings.subheading
    assign button_label = section.settings.button_label

    case section.settings.container 
        when 'fullwidth' 
            assign container_class = 'container-full'
        when '1770' 
            assign container_class = 'container-1770'
        when '1570' 
            assign container_class = 'container-1570'
        when '1470' 
            assign container_class = 'container-1470'
        when 'fullwidth' 
            assign container_class = 'container-1770'
        else 
            assign container_class = 'container-1770'        
    endcase 
%}  

<style type="text/css" media="screen">
    .section-{{ section.id }} .hotspot-section__button{
        background-color: {{ button_background }};
        color: {{ button_color }};
        border: 1px solid {{ button_boder }};
    }
    .section-{{ section.id }} .hotspot-section__button:hover{
        background-color: {{ button_background_hover }};
        color: {{ button_color_hover }};
        border-color: {{ button_boder_hover }};
        transition: all 100ms ease-in;
    }
    @media (min-width: 1200px) {
        .section-{{ section.id }}{
            padding-top: {{ mg_top_desktop | append: 'px' }};
            padding-bottom: {{ mg_bottom_desktop | append: 'px' }};
        }
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        .section-{{ section.id }}{
            padding-top: {{ mg_top_tablet | append: 'px' }};
            padding-bottom: {{ mg_bottom_tablet | append: 'px' }};
        }
    }
    @media (max-width: 767px) {
        .section-{{ section.id }}{
            padding-top: {{ mg_top_mobile | append: 'px' }};
            padding-bottom: {{ mg_bottom_mobile | append: 'px' }};
        }
    }
</style>


<div class="section-{{ section.id }}">
    <div class="{{ container_class }} {% if section.settings.image-position == 'image_first' %}image-reverse{% else %}hotspot-container{% endif %}">
        <div class="hotspot-section__container">
            <div class="hotspot-section__info">
                <h2 class="hotspot-section__heading">{{ heading }}</h2>                
                <p class="hotspot-section__subheading">{{ subheading }}</p>
                <button data-action="add-all-to-cart" class="hotspot-section__button hidden-phone" type="button">{{ button_label }}</button>
            </div>
            <div class="hotspot">
                <div class="hotspot__image">
                    {{ image | image_url: width:image.width | image_tag: loading: 'lazy' }}
                </div>
                <div class="hotspot__blocks">
                    {% for block in section.blocks %}
                        {% liquid
                            assign x_pos = block.settings.x_axis | plus: 50 | append: "%"
                            assign y_pos = block.settings.y_axis | plus: 50 | append: "%"
                            assign prod = block.settings.hotspot_product
                            assign alternative_products = prod.metafields.custom.alternative_products.value
                            assign variant = prod.first_available_variant
                            if prod.available == false and alternative_products
                                for alt_prod in alternative_products
                                    if alt_prod.available
                                        assign variant = alt_product.first_available_variant
                                        break
                                    endif
                                endfor
                            endif

                            assign money_price = prod.price | money_without_trailing_zeros
                        %}
                        <hotspot-block data-variant-id="{{ variant.id }}" class="hotspot__block" style="--x-position:{{ x_pos }};--y-position:{{ y_pos }};">
                            <div class="hotspot__block-inner">
                                <button type="button" data-action="show-tooltip" class="hotspot__marker" aria-describedby="tooltip-{{ block-id }}">
                                    <span class="visually-hidden">Open {{ prod.title }} modal</span>
                                </button>
                                <div class="hotspot__tooltip" role="tooltip" id="tooltip-{{ block-id }}" aria-hidden="true">
                                    <a href={{prod.url}} class="tooltip__product-title" tabindex="-1">
                                        {{ prod.title }}
                                    </a>
                                    <div class="tooltip__product-price">
                                        {{ 'products.product.price.from_price_html' | t: price: money_price }}
                                    </div>
                                    {% if alternative_products %}                                        
                                        {%- for alternative_product in alternative_products -%}
                                            {% assign swatch_value = alternative_product.metafields.magento.swatch_colour %}
                                            {% assign swatch_name = swatch_value | handleize | append: '.webp' %}
                                            {%- if alternative_product.available and swatch_value != blank -%}
                                                <div class="meta-swatch product-swatch {% if alternative_product.id == product.id %}selected{% endif %}">
                                                    <a tabindex="-1" class="product-swatch__button" href="{{ alternative_product.url }}" title="{{ alternative_product.title }}">
                                                        {{ images[swatch_name] | image_url: width: 36 |  image_tag: loading: 'lazy', class:'product-swatch__image' }}
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {%- endfor -%}
                                    {% endif %}

                                </div>
                            </div>                            
                        </hotspot-block>
                    {% endfor %}
                </div>
            </div>
            <button data-action="add-all-to-cart" class="hotspot-section__button hidden-lap-and-up" type="button">{{ button_label }}</button>
        </div>
    </div>
</div>

<script src="{{ 'image-hotspot.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
    "name": "Image with hotspots",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id":"heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
        },
        {
          "type":"select",
          "id":"image-position",
          "label":"Desktop image placement",
          "default":"image_second",
          "options":[
            {
                "value": "image_first",
                "label": "Image First"
            },
            {
                "value": "image_second",
                "label": "Image Second"
            }
          ]
        },
        {
            "type": "header",
            "content": "t:sections.layout.content"
        },
        {
            "type": "select",
            "id": "container",
            "label": "t:sections.layout.container.option",
            "default": "container",
            "options": [
                {
                    "value": "container",
                    "label": "t:sections.layout.container.option1"
                },
                {
                    "value": "1200",
                    "label": "t:sections.layout.container.option4"
                },
                {
                    "value": "1320",
                    "label": "t:sections.layout.container.option5"
                },
                {
                    "value": "1470",
                    "label": "t:sections.layout.container.option5"
                },
                {
                    "value": "1570",
                    "label": "t:sections.layout.container.option6"
                },
                {
                    "value": "1770",
                    "label": "t:sections.layout.container.option3"
                },
                {
                    "value": "fullwidth",
                    "label": "t:sections.layout.container.option2"
                }
            ]
        },
        {
            "type" : "color",
            "id" : "color_heading",
            "label" : "t:settings_schema.typography.settings.typography.title_color",
            "default" : "#232323"
        },
        {
            "type" : "color",
            "id" : "button_color",
            "label" : "t:settings_schema.colors.settings.colors_name.color",
            "default" : "#fff"
        },
        {
            "type" : "color",
            "id" : "button_border",
            "label" : "t:settings_schema.colors.settings.colors_name.border_color",
            "default" : "#232323"
        },
        {
            "type" : "color",
            "id" : "button_background",
            "label" : "t:settings_schema.colors.settings.colors_name.background_color",
            "default" : "#232323"
        },
        {
            "type" : "color",
            "id" : "button_color_hover",
            "label" : "t:settings_schema.colors.settings.colors_name.color_hover",
            "default" : "#fff"
        },
        {
            "type" : "color",
            "id" : "button_border_hover",
            "label" : "t:settings_schema.colors.settings.colors_name.border_hover",
            "default" : "#232323"
        },
        {
            "type" : "color",
            "id" : "button_background_hover",
            "label" : "t:settings_schema.colors.settings.colors_name.background_hover",
            "default" : "#232323"
        },
        {
            "type": "header",
            "content": "t:sections.layout.margin_top"
        },
        {
            "type": "range",
            "id": "mg_top_desktop",
            "label": "t:sections.layout.mg_desktop.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "range",
            "id": "mg_top_tablet",
            "label": "t:sections.layout.mg_tablet.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "range",
            "id": "mg_top_mobile",
            "label": "t:sections.layout.mg_mobile.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "header",
            "content": "t:sections.layout.margin_bottom"
        },
        {
            "type": "range",
            "id": "mg_bottom_desktop",
            "label": "t:sections.layout.mg_desktop.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "range",
            "id": "mg_bottom_tablet",
            "label": "t:sections.layout.mg_tablet.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        },
        {
            "type": "range",
            "id": "mg_bottom_mobile",
            "label": "t:sections.layout.mg_mobile.label",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 50
        }
    ],
    "blocks": [
        {
            "name": "Hotspot",
            "type": "hotspot",
            "limit": 8,
            "settings": [
                {
                    "type": "range",
                    "id": "y_axis",
                    "label": "Y Axis",
                    "min": -50,
                    "max": 50,
                    "step": 1,
                    "unit": "%",
                    "default": 0
                },
                {
                    "type": "range",
                    "id": "x_axis",
                    "label": "X Axis",
                    "min": -50,
                    "max": 50,
                    "step": 1,
                    "unit": "%",
                    "default": 0
                },
                {
                    "type": "product",
                    "id": "hotspot_product",
                    "label": "Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image with hotspots",
            "settings": {}
        }
    ]
}
{% endschema %}